* {
    margin: 0;
    padding: 0;
}

@media screen and (orientation:landscape) {
    .placeholder {
        height: 40px;
    }
    #btnChart {
        display: none;
    }
}

@media screen and (orientation:portrait) {
    #colChart {
        display: none;
    }
    .btn-high {
        height: 100px;
        /*padding-bottom: 20px;*/
        font-size: 2.8em;
        font-weight: bold;
    }
    .caption-top {
        font-size: 2.2em;
    }
    #releRow {
        margin-top: 40px;
    }
    .placeholder {
        height: 70px;
    }
    .navbar {
        height: 100px;
    }
    .navbar-brand {
        font-size: 2.5em;
    }
    #tdColor {
        display: none;
    }
    #btnChart {
        display: block;
    }
    .btn_sel {
        height: 150px;
    }
    #btnGroup {
        margin-bottom: 30px;
    }
}