<div class="modal fade" id="modAlert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 1100">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white low-cap">
                <h5 class="modal-title" id="mTitle">Laurent</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="mal1">.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


{#<div class="modal fade" id="modChart" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" aria-hidden="true">#}
{#    <div class="modal-dialog modal-fullscreen">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h5 class="modal-title h4" id="exampleModalFullscreenLabel">{{ title }}</h5>#}
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{##}
{#                <div class="h6 pb-2 mb-4 text-secondary border-bottom border-secondary">#}
{#                    Шина А#}
{#                </div>#}
{#                <div id="chartA1" style="height: 300px; margin-top: -20px;"></div>#}
{#                <br>#}
{#                <div class="h6 pb-2 mb-4 text-secondary border-bottom border-secondary">#}
{#                    Шина B#}
{#                </div>#}
{#                <div id="chartB" style="height: 300px; margin-top: -20px;"></div>#}
{##}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}