{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Управление складами - {{ title }}{% endblock title %}</title>

    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src={% static 'js/jquery.min.js' %}></script>

    <link rel="stylesheet" href="{% static 'css/morris.css'%}">
    <script src="{% static 'js/raphael.min.js' %}"></script>
    <script src="{% static 'js/morris.min.js' %}"></script>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
{#                <img src="/static/img/logo.png" alt="" width="50" class="d-inline-block">#}
                &nbsp;&nbsp;{{ title }}
            </a>
        </div>
    </nav>

    <div class="container-lg" style="margin-top: 30px;">
        {% block content%}{% endblock content %}
    </div>
        {% include 'alert.html' %}
        <script src="{% static 'js/app.js' %}"></script>
</body>