{% extends "base.html" %}

{% block content %}
    <p id="mcContr">{{ contr }}</p>
            <div class="h6 pb-2 mb-4 text-secondary border-bottom border-secondary">
                Шина А
            </div>
            <div id="chartA" style="height: 270px; margin-top: -20px;"></div>
            <br>
            <div class="h6 pb-2 mb-4 text-secondary border-bottom border-secondary">
                Шина B
            </div>
            <div id="chartB" style="height: 270px; margin-top: -20px;"></div>
{% endblock content %}